



header nav {
    margin: 0 auto;
    width: 200vw;
    
}

header nav a{
    color: white;
    background-color: #5ED3EB;
    border-radius: 20px; 
    padding: 10px 20px;
    margin: 10px 5%;
    text-align: center;
  }

  header nav a:first-child{
    background-color: #FF764E;
  }

  header nav a:last-child{
        background-color: #FFCD69;
  }